.loader-img{
position: relative;
display:;
}

.loader-img:before, .loader-img:after{
content: '';
width: 20px;
height: 20pt;
display: inline-block;
position: relative;
margin:0 5px 0 0;
border-radius: 15px;
color: #F0A33B;
background: currentColor;
box-shadow: 50px 10px, -50px 10px, 100px 0px, -100px 0px;
animation: left 0.5s infinite ease-in-out;
}

.loader-img:after{
color: #d3d3d3;
animation: right 0.6s infinite ease-in-out;
}

@keyframes right{
0%, 100%{transform: translateY(-20px);}
50%{transform: translateY(20px);}
}

@keyframes left{
0% , 100%{transform: translateY(20px);}
50%{transform: translateY(-20px);}
}
